.page-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  gap: 15px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  background-color: var(--card-background);
  box-shadow: var(--card-box-shadow);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
}

.image {
  width: 80px;
  height: 100px;
}

.info-wraper {
  display: flex;
  flex-direction: column;
}

.action-buttons-container {
  margin: 0 auto;
}

.product-name {
  font-size: 18px;
  font-weight: 600;
}
