.page-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background);
  margin: 0 auto;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs-container input {
  direction: rtl;
  border-radius: 10px;
  border: 1px solid var(--primary-green-color);
}

.action-button {
  background-color: white;
  border: 2px solid var(--primary-green-color);
  border-radius: 10px;
  color: var(--secondary-green-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 40%;
  justify-content: center;
}

.action-button:hover {
  background-color: var(--secondary-green-color);
  color: white;
}

.action-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
