body {
  /* width: 100vw;
  height: 100vh; */
  /* overflow: auto; */
  /* display: flex;
  justify-content: center; */
}

button {
  cursor: pointer;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  height: fit-content;
  gap: 10px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  color: var(--card-background);
  top: -6px;
}

.product-title::after {
  background-color: var(--secondary-green-color);
  border-radius: 15px;
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: 100%;
  z-index: -1;
  left: -10px;
}

.seperator {
  height: 1px;
  width: 100%;
  background-color: black;
  position: relative;
  top: 4px;
}

.product-card {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background);
}

.add-product-btn {
  color: var(--card-background);
  background-color: var(--primary-green-color);
  border: 0;
  border-radius: 10px;
  position: absolute;
  bottom: 5%;
  right: 40%;
  font-weight: bold;
}
